{
 :client_id          "xxx"
 :client_secret      "xxx"
 :connector-id       "xxx" 
 :audience           "https://rpfabricuat.onmicrosoft.com/rpfabric"
 :connector-endpoint "https://connector-uat.eigerio.space/connector/api" 
 :oauth-endpoint     "https://login.microsoftonline.com/TENANT_ID/oauth2/token"
 :oauth-endpoint-v2  "https://login.microsoftonline.com/TENANT_ID/oauth2/v2.0/token"
 :graph-api-endpoint "https://graph.microsoft.com"
 }